<!DOCTYPE html>
<html lang="en-CA">
  <head>
    {% include "head-seo.njk" %}
    <link rel="preload" href="/@/scripts/main.ts" as="script" crossorigin>
    <link rel="stylesheet" href="/@/styles/main.css" media="print" onload="this.media='all';this.onload=null;">
    <noscript><link rel="stylesheet" href="/@/styles/main.css"></noscript>
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>
    {% include "nav.njk" %}
    <main id="main-content">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    <script type="module" src="/@/scripts/main.ts"></script>
  </body>
</html>
